<div class="container">
<h1><%= @group.name %>

<% if @admin %>
<div class="dropdown pull-right">
    <a class="btn btn-default" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="<%= groups_edit_url(@group.id) %>">Edit</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="<%= groups_destroy_url(@group.id) %>" data-method='delete'>Delete</a></li>
    </ul>
</div>
<% end %>
</h1>
</div>

<div role="navigation">
<ul class="nav nav-tabs">
<% @pages.each do |page| %>
    <li role="presentation" class="<%= @active_page == page ? "active" : "" %>">
        <a href="<%= groups_show_page_url(@group.id, page) %>"><%= page.capitalize %></a>
    </li>
<% end %>
</ul>
</div>

<div class="container">
    <%= render @active_page %>
</div>
